html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'Fira Sans', sans-serif;
  margin: 1rem;
  padding: 1rem;
  min-height: 100vh;
  background-image: url('/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% top;
}
